/* *{
  font-family: 'Caladea', serif;
} */
.row {
  width: 100%;
  display: flex;
}

.column2 ,.column1{
  width: 42%;
  margin: auto;
  
}

#places img{
  width: 550px;
  height: 300px;
  border-radius: 10px 10px 0px 0px ;
  /* float: left; */
}

.imageDiv{
  width: 550px;
  height: 580px;
  border: 1px solid #000000e3;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 14px 0px;
  border-radius: 10px;
}
.place-title{
  font-size: 30px;
  color: #005070;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.desc{
  font-size: 18px;
	color: #70695F;
  line-height: 1.6;
  text-align: center;
  padding: 20px 10px 10px 10px;
}

.rate{
  text-align: center;
  margin-top: 60px;
  margin-left: 400px;
  font-size: 18px;
  padding-bottom: 5px;
}

#pop-cities{
  padding-top: 60px;
  width: 100%;
  margin: auto;
}
.ss{
  display: inline-block;
  width: 22%;
  margin-left: 33px;
}

#pop-cities h1{
  font-size: 30px;
	font-weight: bolder;
  padding: 60px 0px 60px 0px;
  letter-spacing:0.2em;
	color:#005070;
	text-align: center;
}

#pop-cities img{
  box-shadow: 2px 2px 4px #005070;
  /* margin-left: 33px; */

}

#pop-cities img:hover{
  transform: scale(1.09);
}

#amman{
  width: 290px;
  height: 260px;
  
}
#amman h2 p{
  margin-left: 10px;
}

#madaba{
  width: 290px;
  height: 260px;
}

#pop-cities h2{
  padding-top: 10px;
  font-size: 30px;
	font-weight: bolder;
  letter-spacing:0.2em;
	color:#005070;
	text-align: center;
}

#pop-cities p{
	color: #70695F;
  line-height: 1.6;
	font-size: 15px;
  text-align: center;
  padding-bottom: 60px;
}
.button1{
  background-image: url(/images/Star23.jpg);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 48px;
  left: 490px;
  background-size: cover;
  padding: 20px;
  border: 0px;
}

.button1:hover{
  border: 1px solid black;
  transform: scale(1.1);
  
}

#kingtalalDom{
  position: relative;
  bottom: 20px;
  left: ;
}
#recom{
  margin-top: 60px;
  padding-top: 60px;
}

#recom h1{
  font-size: 30px;
	font-weight: bolder;
  padding: 20px;
	color:#005070;
	letter-spacing:0.1em;
  text-align: center;
}

#recom p{
  padding: 20px;
	color: #70695F;
  line-height: 25px;
	font-size: 20px;
  text-align: center;
  padding-bottom: 60px;
}

