
#places {
  margin-top: 100px;
}

#first-header{
  position: relative;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  color: #005070;
}

#main-prgh{
  width: 50%;
  text-align: center;
  font-size: 25px;
  line-height: 1.6;
  margin-left: 338px;
  margin-top: 30px;
  font-family: 'EB Garamond', serif;
  font-weight: bold;


}

#places img {
  display: block;
	width: 700px;
	height:500px;
  margin-left: 450px;
  margin-right: auto;
  border:  solid #00000057 2px;
  box-shadow: 3px 3px 6px #0000006b;
  
}


#places h3{
   /* clear: both; */
    font-size: 50px;
    font-weight: bold;
    position: relative;
    bottom: 500px;
    margin-left: 90px;
    font-family: 'EB Garamond', serif;
    color: #005070;


}

.container{
  margin-left: 50px;
  position: relative;
  bottom: 400px;
}

#places p{
    font-size: 19px;
    width: 22%;
    margin-top: 30px;
    line-height: 1.6;
    color: black;
   }

 footer {
	clear: both;
}

#button1{
  width: 250px;
  height: 60px;
  position: relative;
  left: 40px;
  bottom: 250px;
  background-image: url(/images/like.jpg);
}

#button2{
  width: 250px;
  height: 60px;
  position: relative;
  left: 800px;
  bottom: 310px;
  background-image: url(/images/dislike.jpg);

}